#cube{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cube .cube-block{
    margin-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cube img{
    width: 70px;
    height: 70px;
    margin: 10px;
}

#cube label{
    font-family: 'Ambidexter';
    font-size: 2.5em;
}

#cube .table{
    width: 90%;
    height: 85vh;
    display: flex;
    flex-direction: row;
}

#cube .table .colomn-img{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cube .table .colomn-text{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

#cube p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 10px;
    height: 70px;

    font-size: 0.9em;
}