
menu {
    position: absolute;
    position: fixed;
    background-color: #28201F;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 20px;
    display: flex;
    justify-content: left;
    align-items: center;

    z-index: 5 !important;
}

menu .logo{
    font-family: 'Ambidexter';
    color: #FFF0EF;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    /* letter-spacing: 0.15; */
    width: 100px;
    margin-right: 20px;
}

menu ul{
    width: 100%;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
}

menu ul li{
    list-style: none;
    /* margin-left: 20px; */
}

menu ul li a{
    display: flex;
    text-decoration: none;
    padding: 6px 6px;
    background: #FFF0EF;
    color: #28201F;
    border-radius: 20px;
}

menu ul li a:hover,
menu ul li a.active{
    background: #9e724f;
    color: #FFF0EF;
    transition: 0.2s;
}



/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    /* background-color: #28201F; */
    min-width: 160px;
    /* box-shadow: 0px 8px 16px 0px rgba(36, 31, 31, 0.2); */
    /* border-radius: 20px; */
    border: 0;
    z-index: 5;
}

/* Links inside the dropdown */
.dropdown-content a {
    font-family: 'Pixel';
    /* letter-spacing: 2px; */
    text-transform: uppercase;
    font-size: 0.75em;
    
    margin-top: 5px;
    color:#FFF0EF;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

    background-color: #28201F;
    border-radius: 20px;
    border: solid #FFF0EF 2px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    /* background-color:  #FF7819; 
    color:#FFF0EF; */

    background-color:  #9e724f; 
    color: #FFF0EF;
    border: solid #28201F 2px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

#menue{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
    padding-bottom: 11px;
}

menu img{
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    filter: invert();
}

#theme {
    background: none; 
    cursor: pointer;
}

#theme:hover{
    /* background: #9e724f;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 2s; */
}

/* menu img{
    max-width: 100%;
    animation: fade 3s linear;
    animation-delay: 2.5s;
  }
  @keyframes fade {
    0% { opacity: 1 }
    50% { opacity: 0 }
    100% { opacity: 1 }
  } */


