* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pixel';
}

body{
    /* background-color: #28201F; */
    /* background-color: #FFF0EF; */
    background-color: #d1c5b9;
    color: #28201F;
    height: 100%;
    /* overflow: hidden; */
}


/* цвета ___________________________

          Основной
коричневый          #28201F

            ЛИС
оранжевый           #FF7819
темно-оранжевый     #FF663E

            КИС
белый               #FFF0EF
бежевый             #F0D1CD

    Подушечки & сердечко
светло-розовый      #FF7C76
темно-розовый       #B63F36

_________________________________

        Из пантона

темный коричневый   #382b1b
молочный шоколад    #774d34
светлый коричневый  #9e724f
бежевый             #d1c5b9
серый светлый       #e1e7dd
_________________________________
*/

@font-face {
    font-family: Ambidexter;
    src: url(/Fonts/ambidexter.otf);
}

@font-face {
    font-family: Apersu;
    src: url(/Fonts/apercu-light-pro.woff2);
}

@font-face {
    font-family: Pixel;
    src: url(/Fonts/pixeleum-48.ttf);
}