
.rules{
    padding-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rules label, 
.rules label{
    font-family: 'Ambidexter';
    font-size: 2.5em;
}

.rules-text{
    width:90%;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    text-align: left;

    margin-bottom: 70px;
    color: #9e724f;
}

.rules-text .title{
    width: 90%;
    display: flex;
    font-family: 'Ambidexter';
    font-size: 1.5em;
    text-align: left;
    letter-spacing: 0.07em;

    color: #28201F;
}

.rules-text p{
    width: 90%;
    font-size: 0.75rem;
    line-height: 2em;
}

.rules-text p a{
    position: relative;
    top: 0;
    background: #9e724f;
    color: #d1c5b9;
    padding: 5px 10px;
    border-radius: 20px;
    text-decoration: none;
    /* font-weight: 700; */
    letter-spacing: 0.1em;
}

.rules-text p a:active{
    top:3px;
}

.rules img{
    width: 90%;
    margin: 20px 0;
}

table{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}

table tr{
    width: 90%;
}

table tr td{
    font-size: 0.8rem;
    border-radius: 10px;
    padding: 10px;
}

table tr td.name{
    font-size: 1rem;
    color: #d1c5b9;
    background: #9e724f;
    font-family: 'Ambidexter';
}

table tr td.what{
    font-size: 0.8rem;
    text-align: left;
    font-family: 'Pixel';
}